In [1]:
student = {
    'name' : 'raja',
    'class': ' 2nd',
    'roll no': '4',
    'marks' : '90'
}
print(student)

{'name': 'raja', 'class': ' 2nd', 'roll no': '4', 'marks': '90'}

In [2]:
print(student['name'])
print(student['class'])

raja
 2nd

In [3]:
print(student.get('name'))

raja

In [4]:
# add new entry and update
student['school'] = 'CMS'
student['class'] = '3rd class'
print(student)

{'name': 'raja', 'class': '3rd class', 'roll no': '4', 'marks': '90', 'school': 'CMS'}

In [5]:
series = {
    'title' : 'Person of Interest',
    'total_seasons': '5',
    'ott' : 'Amazon prime',
    'rating' : '9.8'

}

In [6]:
for key in series:
    print(key)

title
total_seasons
ott
rating

In [7]:
for key in series:
    print(key, series[key])

title Person of Interest
total_seasons 5
ott Amazon prime
rating 9.8

In [8]:
for k, v in series.items():
    print(k, v)

title Person of Interest
total_seasons 5
ott Amazon prime
rating 9.8

In [9]:
cricketer = {'Name' : 'Virat',
             'Age' :'34',
             'City':'New Delhi',
             'Match' : '300',
             'runs' :'25000'
}

In [10]:
for key in cricketer:
    print(key)

Name
Age
City
Match
runs

In [11]:
for value in cricketer.items():
    print(value)

('Name', 'Virat')
('Age', '34')
('City', 'New Delhi')
('Match', '300')
('runs', '25000')

In [12]:
for values in cricketer:
    print(values, cricketer[values])

Name Virat
Age 34
City New Delhi
Match 300
runs 25000

In [13]:
#only values prints
for v in cricketer.values():
    print(v)

Virat
34
New Delhi
300
25000

In [16]:
print(cricketer.keys)
print(cricketer.values)
print(cricketer.items)

<built-in method keys of dict object at 0x0000023134414200>
<built-in method values of dict object at 0x0000023134414200>
<built-in method items of dict object at 0x0000023134414200>