SLICEING

In [4]:
name = "vijay deenanath chauhan"

In [5]:
for i, c in enumerate(name):
    print(i, c)

0 v
1 i
2 j
3 a
4 y
5
6 d
7 e
8 e
9 n
10 a
11 n
12 a
13 t
14 h
15
16 c
17 h
18 a
19 u
20 h
21 a
22 n

In [6]:
fn = name[:5]
print(fn)

vijay

In [7]:
mn = name[6:15]
print(fn)
ln = name[-7:]
print(ln)

vijay
chauhan

In [8]:
ln= name[: :2]
print(ln)

vjydeaahcahn

In [9]:
ln = name[1::2]
print(ln)

ia ennt hua

In [10]:
ln = name[::3]
print(ln)

vadna aa

In [11]:
for c in name[1::2]:
    print(c)

i
a

e
n
n
t

h
u
a

In [12]:
chr(2)

'\x02'

In [13]:
chr(1)

'\x01'

In [14]:
chr(654)

'ʎ'

In [15]:
chr(65)

'A'

In [16]:
ord('a')

97

In [17]:
ord('😺')

128570

In [18]:
a = ' My '
b = ' name '
c = ' is '
d = ' abhishek '
x = a + b + c+ d
print(x)
x * 5
x.capitalize()

 My  name  is  abhishek

' my  name  is  abhishek '

In [19]:
x.upper()

' MY  NAME  IS  ABHISHEK '

In [20]:
x.lower()

' my  name  is  abhishek '

In [21]:
x.capitalize()

' my  name  is  abhishek '

In [22]:
x.title()

' My  Name  Is  Abhishek '

In [23]:
x.swapcase()

' mY  NAME  IS  ABHISHEK '

In [24]:
x.split()

['My', 'name', 'is', 'abhishek']

In [25]:
x.expandtabs()

' My  name  is  abhishek '

In [26]:
# casefold or lower case same hai
x.casefold()

' my  name  is  abhishek '

In [27]:
x = x.upper()

In [28]:
x

' MY  NAME  IS  ABHISHEK '

In [29]:
y = 'Ajay,vijay,rohit,suresh'
y.split(',')

['Ajay', 'vijay', 'rohit', 'suresh']

In [43]:
p  = '''Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
Twinkle twinkle little star.
How I wonder what you are.
'''
p.splitlines()

['Twinkle twinkle little star.',
 'How I wonder what you are.',
 'Up above the world so high.',
 'Like a diamond in the sky.',
 'Twinkle twinkle little star.',
 'How I wonder what you are.',
 '',
 'Twinkle twinkle little star.',
 'How I wonder what you are.',
 'Up above the world so high.',
 'Like a diamond in the sky.',
 'Twinkle twinkle little star.',
 'How I wonder what you are.']

In [31]:
len(p.splitlines())

13

In [32]:
path = ['c:','user','HP','Documents']

In [33]:
''.join(path)

'c:userHPDocuments'

In [34]:
p.find('star')

23

In [35]:
'/'.join(path)

'c:/user/HP/Documents'

In [36]:
poem = p.replace('a' , 'c').replace('Twinkle' , 'Ak')
print(poem)

Ak twinkle little stcr.
How I wonder whct you cre.
Up cbove the world so high.
Like c dicmond in the sky.
Ak twinkle little stcr.
How I wonder whct you cre.

Ak twinkle little stcr.
How I wonder whct you cre.
Up cbove the world so high.
Like c dicmond in the sky.
Ak twinkle little stcr.
How I wonder whct you cre.

In [ ]:
p.count('a,e,i,o,u')

0

In [ ]:
p.replace('a','😺').replace('e','🤡').replace('i','😊').replace('o','💀').replace('u','🐷')

'Tw😊nkl🤡 tw😊nkl🤡 l😊ttl🤡 st😺r.\nH💀w I w💀nd🤡r wh😺t y💀🐷 😺r🤡.\nUp 😺b💀v🤡 th🤡 w💀rld s💀 h😊gh.\nL😊k🤡 😺 d😊😺m💀nd 😊n th🤡 sky.\nTw😊nkl🤡 tw😊nkl🤡 l😊ttl🤡 st😺r.\nH💀w I w💀nd🤡r wh😺t y💀🐷 😺r🤡.\n\nTw😊nkl🤡 tw😊nkl🤡 l😊ttl🤡 st😺r.\nH💀w I w💀nd🤡r wh😺t y💀🐷 😺r🤡.\nUp 😺b💀v🤡 th🤡 w💀rld s💀 h😊gh.\nL😊k🤡 😺 d😊😺m💀nd 😊n th🤡 sky.\nTw😊nkl🤡 tw😊nkl🤡 l😊ttl🤡 st😺r.\nH💀w I w💀nd🤡r wh😺t y💀🐷 😺r🤡.\n'

In [ ]:
p.center()

'Twinkle twinkle little star.\nHow I wonder what you are.\nUp above the world so high.\nLike a diamond in the sky.\nTwinkle twinkle little star.\nHow I wonder what you are.\n\nTwinkle twinkle little star.\nHow I wonder what you are.\nUp above the world so high.\nLike a diamond in the sky.\nTwinkle twinkle little star.\nHow I wonder what you are.\n'

In [ ]:
chr(123698)

'\U0001e332'

In [40]:
poem.endswith('cre')

False

In [42]:
poem.startswith('AK')

False